<aside id="right-folder">
  <!-- запоминаем состояние раскрытия в пределах вкладки -->
  <details id="right-sivs" class="folder" data-persist="session">
    <summary class="folder-summary">СиВС</summary>

    <ul class="sublist">
      {{/* RU-страницы из секции "sivs", отсортированные по weight */}}
      {{- $pages := where (where site.RegularPages "Lang" "ru") "Section" "==" "sivs" -}}
      {{- if gt (len $pages) 0 -}}
        {{- $pages = $pages.ByWeight -}}

        {{/* Позиции, ПЕРЕД которыми вставляем отступ (можно править этот список) */}}
        {{- $breaks := slice 2 3 9 15 21 27 33 -}}

        {{- $lastIdx := len $pages -}}
        {{- range $i, $p := $pages -}}
          {{- $idx := add $i 1 -}}

          {{/* ТЕХНИЧЕСКИЕ разделители по твоим правилам (скрытые, дают отступ следующему пункту) */}}
          {{- if or ($p.Params.separator_before) (in $breaks $idx) (findRE `^Ⅱ\b` $p.Title) -}}
            <li class="list-separator"></li>
          {{- end -}}

          {{/* ВИДИМЫЙ разделитель ПЕРЕД ПОСЛЕДНИМ пунктом */}}
          {{- if eq $idx $lastIdx -}}
            <li class="list-separator list-separator-visible">---</li>
          {{- end -}}

          {{/* Сам пункт списка */}}
          <li><a href="{{ $p.RelPermalink }}">{{ $p.Title }}</a></li>

          {{/* ВИДИМЫЙ разделитель ПОСЛЕ ПЕРВОГО пункта */}}
          {{- if eq $idx 1 -}}
            <li class="list-separator list-separator-visible">---</li>
          {{- end -}}

        {{- end -}}
      {{- else -}}
        <li><em>Скоро…</em></li>
      {{- end -}}
    </ul>
  </details>
</aside>
